.features{
	margin-top: 30px;
}

.feature-item{
padding: 50px 30px 63px 30px;
text-align: center;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: 30px;
}

.icon{
	width: 160px; 
     height: 138px; 
     display: inline-block; 
    text-align: center;
    line-height: 108px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}

.icon img{
	max-width: 104px;
    margin-top: 16px;
}

.feature-item h4{
	margin-top: 40px;
    margin-bottom: 20px;
}

.str2{
	font-size: 14px;
    color: #716f85;
    line-height: 26px;
    margin: 0px;
    font-weight: 400;
}

.post{
    margin-top: 80px;
    padding: 120px 0px;

    background-color: #009df2;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.head{
    padding-right: 80px;
    margin-bottom: 40px;
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    line-height: 48px;
}

.img{
    width: 100%;
}

.content{
    margin-bottom: 60px;
}

.small-icon{
    background-color: #ffffff;
    margin-right: 25px;
    float: left;
    width: 70px;
    height: 70px;
    display: inline-block;
    text-align: center;
    line-height: 92px;
    border-radius: 50%;
}

.detail{
    color: #ffffff;
   }

.detail h4{
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 0.25px;
    font-size: 1.5rem;
    line-height: 1.2;
}

.detail p{
    font-weight: 300;
    margin-left: 95px;
    line-height: 26px;
    font-size: 14px;
}